pipeline/data/
pipeline/outputs/*
!pipeline/outputs/.gitkeep
!pipeline/outputs/tables/*.tsv
*.jsonl
*.csv
*.log
.env
*.fls
*.log
*.aux
*.bbl
*.blg
*.toc
*.out
*.pdf
*.fdb_latexmk
*.synctex.gz
.venv/
__pycache__/